<ion-content>
  <div class="top-header">
    <div id="header">
      <ion-buttons>
        <ion-button id="position" routerLink="/dashboard">
          <ion-icon slot="start" name="chevron-back-circle-outline"></ion-icon>
          Schedule
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <!-- profile content -->
  <div id="background">

  
  <ion-card>
    <div id="container">
      <img id="img" src="../../../assets/Dr. Usman Yousaf.jpeg">
      <div id="container-text">
        <h2>Dr. Usman Yousaf</h2>
        <h4>Heart Specialis</h4>
      </div>
    </div>
    <div id="group-buttons">
      <ion-button id="cancel">Cancel</ion-button>
      <ion-button id="reschedule">Reschedule</ion-button>
    </div>
  </ion-card>

</div>
</ion-content>