* {
  margin: 0;
  padding: 0;
  --ion-background-color: #ffff;
}

.top-header {
  background: #575CE5;
  height: 8rem;

  #header {
    display: flex;
    padding: 1rem 0.5rem;

    ion-button {
      height: 50px;
      font-weight: 500;
      letter-spacing: .2rem;

      ion-icon {
        font-size: 2rem;
        color: #fff;
      }
    }
  }
}

#wrapper {
  height: 80%;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  padding: 1.5rem;

  #card {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    width: 88%;
    transform: translateX(-50%);
    padding: .8rem;
    --background: #fff;
  }

  #image {
    width: 100%;
    max-height: 40%;
    object-fit: cover;
  }

  #info {
    padding: 20px;
    text-align: center;

    h2 {
      color: #262870;
      font-weight: 500;
      letter-spacing: .2rem;
    }

    p {
      color: #B3B4CD;
      letter-spacing: .1rem;
    }

  }

  #about {
    margin-top: 80%;
    margin-bottom: 1.2rem;
    padding: .8rem;
    --background: #fff;
    bottom: 0%;

    ion-card-title {
      color: #262870;
      font-size: 1.5rem;
      text-transform: capitalize;
      letter-spacing: .2rem;
      font-weight: 700;
      font-family: 'Nunito Sans', sans-serif;
      padding-bottom: .2rem;
    }

    ion-card-content {
      letter-spacing: .1rem;
      color: #B3B4CD;
      font-size: 15px;
    }
  }

  ion-card {
    padding: .8rem;
    --background: #fff;
    margin-bottom: 1.2rem;
  }
}


ion-card-title {
  color: #262870;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: .2rem;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: .2rem;
}

ion-card-content {
  letter-spacing: .1rem;
  color: #B3B4CD;
  font-size: 15px;
}

app-button {
  display: block;
  margin-bottom: 2rem;
}

// modal stylesheets

#gap-between {
    margin: 1rem;
}

#group-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    --border-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

    #cancel {
        color: #B5B5B5;
        //--background: #fff;
        width: 10rem;
    }
    #reschedule {
        --background: #00BFA6;
        width: 10rem;
    }
}

#decorator {
    background-image: url('../../../assets/undraw/undraw_booking.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    height: 100%;
}